body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.spacer {
    height: 100%;
    width: 25%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    border-radius: 10px 0 0 10px;
}

.spacer .title {
    color: #FAFAFA;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    letter-spacing: 1.5px;
    font-size: 25px;
}

.form {
    height: 100%;
    width: 75%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0 10px 10px 0;
}

.form .title {
    font-weight: var(--font-bold);
    font-size: var(--font-title);
    color: var(--text-title);
    text-transform: uppercase;
}

.form .form-group {
    margin-bottom: 25px;
    font-weight: var(--font-display);
    font-size: var(--font-text);
    color: var(--text-display);
}

form input[type="text"], form input[type="password"] {
    background: #DCDCDC;
    border: none;
    width: 200px;
    color: #212121;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.form .radio-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    font-family: 'DM Mono', monospace;
}

.form .alert {
    background-color: var(--alert);
    border-color: var(--alert-border);
    border-width: 25px;
    font-size: var(--font-alert);
    color: var(--alert-text);
    padding: 7.5px;
    border-radius: 5px;
    text-align: center;
}

.form .radio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.form .btn-login {
    display: block;
    border: 2px solid #0ba360;
    border-radius: 25px;
    color: #0ba360;
    padding: 10px 25px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    background-color: #FAFAFA;
    font-weight: var(--font-display);
}

.form .btn-login:hover {
    background-color: #0ba360;
    color: #FAFAFA;
    font-weight: var(--font-bold);
}