body {
    background: #42275a;
    background: -webkit-linear-gradient(to right, #734b6d, #42275a); 
    background: linear-gradient(to right, #734b6d, #42275a);
}

.form { 
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--card);
    color: var(--text-display);
    border-radius: 5px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form .title {
    font-weight: var(--font-bold);
    font-size: var(--font-title);
    color: var(--text-title);
    margin-bottom: 35px;
}

.form .alert {
    background-color: var(--alert);
    border-color: var(--alert-border);
    border-width: 25px;
    font-size: var(--font-alert);
    color: var(--alert-text);
    padding: 7.5px;
    border-radius: 5px;
    text-align: center;
}

.form .form-group {
    margin-bottom: 25px;
    font-weight: var(--font-display);
    font-size: var(--font-text);
    color: var(--text-display);
}

form input[type="text"], form input[type="password"] {
    background: #DCDCDC;
    border: none;
    width: 200px;
    color: #212121;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.form .radio-label {
    font-weight: var(--font-bold);
    font-size: var(--font-radio-label);
    line-height: 15px;
}

.form .btn-login {
    display: inline-block;
    border: 2px solid black;
    border-radius: 25px;
    border-color: #4CAF50;
    color: green;
    padding: 10px 25px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: var(--font-display);
}

.form .btn-login:hover {
    background-color: #4CAF50;
    color: #ffffff;
    font-weight: var(--font-bold);
}
