:root {
    /* Colors. */
    --bg: #212121;
    --card: #F0F0F0;
    --text-display: #212121;
    --text-title: #212121;
    --alert: #C91F37;
    --alert-text: #FAFAFA; 

    /* Font sizes. */
    --font-alert: 12.5px;
    --font-text: 12.5px;
    --font-radio-label: 12px;
    --font-title: 20px;

    /* Font weights. */
    --font-thin: 200;
    --font-display: 400;
    --font-bold: 700;
}

html, body { 
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--bg);
}

.display-none {
    display: none;
}